.footer-link {
    color          : var(--text-color);
    text-decoration: none;
    position       : relative;
}

.footer-link::after {
    content         : "";
    position        : absolute;
    left            : 0;
    bottom          : -2px;
    width           : 0;
    height          : 1px;
    background-color: currentColor;
    transition      : width 0.25s ease;
}

.footer-link:hover::after {
    width: 100%;
}