.ant-layout-sider-children {
    overflow-y: auto;
}

body.ant-scrolling-effect {
    overflow: auto !important;
    width   : auto !important;
}

.icon-spin {
    color    : var(--admin-accent, #faad14) !important;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}