.client-layout-container {
    display       : flex;
    flex-direction: column;
    width         : 100%;
    min-height    : 100vh;
    // .client-header-container {
    //     /* Header luôn dùng biến từ global.scss */
    // }

    .client-main-container {
        flex            : 1;
        width           : 100%;
        margin          : 0;
        padding         : 0;
        background-color: var(--bg-color);
        padding-top     : 60px !important;
    }

    // .client-footer-container {
    //     /* Footer dùng biến global */
    // }
}

/* Responsive helper */
@media (max-width: 768px) {
    .client-layout-container {
        .client-main-container {
            padding: 0 16px;
        }
    }
}