// .client-layout-container {
//     display       : flex;
//     flex-direction: column;
//     width         : 100%;
//     min-height    : 100vh;

//     .client-main-container {
//         flex            : 1;
//         width           : 100%;
//         margin          : 0;
//         padding         : 24px;
//         padding-top     : 64px; // header fixed
//         background-color: transparent; // theme AntD handle
//     }
// }

// /* Responsive helper */
// @media (max-width: 768px) {
//     .client-layout-container {
//         .client-main-container {
//             padding: 16px;
//         }
//     }
// }